extends layout
block content
  div
      table
          thead
            tr
                td id
                td name
                td username
                td email
                td city
                td zipcode
                td latitude
                td phone
                td website
          for user in users
              tr
                  td #{user['id']}
                  td #{user['name']}
                  td #{user['username']}
                  td #{user['email']}
                  td #{user['address']['city']}
                  td #{user['address']['zipcode']}
                  td #{user['address']['geo']['lat']}
                  td #{user['phone']}
                  td #{user['website']}

